In [1]:
import pandas as pd

In [18]:
def define_label(result: str) -> str:
        # Define the label
        if isinstance(result, str) and ':' in result:
            parts = result.split(':')
            if int(parts[0]) > int(parts[1]):
                return 'home'
            else:
                return 'away'
        else:
            raise ValueError(f"Invalid result format: {result}")

In [19]:
df = pd.read_csv('../datacombiner/data/combined.csv')
df['result'] = df['result'].apply(define_label) # train label

In [12]:
df['result'] = df['result'].apply(define_label) # train label

In [24]:
df_elo = df[['home_id', 'name_home', 'result', 'seriesStartDate']].copy()
df_elo['home_win'] = df_elo['result'].apply(lambda x: 1 if x == 'home' else 0)

In [25]:
df_elo['home_elo'] = df_elo.groupby('home_id')['home_win'].transform(lambda x: x.rolling(window=10, min_periods=1).sum())

In [32]:
df_home = df_elo[df_elo['home_id'] != 0].copy()
df_home['home_win'] = df_home['result'].apply(lambda x: 1 if x == 'home' else -1)
df_home['home_elo'] = df_home.sort_values('seriesStartDate').groupby('home_id')['home_win'].transform(lambda x: x.rolling(window=10, min_periods=1).sum())

In [33]:
df_home[df_home['name_home'] == 'Novak Djokovic'].sort_values('seriesStartDate').head(10)

      home_id       name_home result      seriesStartDate  home_win  home_elo
5885    14882  Novak Djokovic   home  2009-01-19 03:45:00         1       1.0
5925    14882  Novak Djokovic   home  2009-01-21 02:00:00         1       2.0
5945    14882  Novak Djokovic   home  2009-01-23 01:30:00         1       3.0
5954    14882  Novak Djokovic   home  2009-01-25 12:00:00         1       4.0
8526    14882  Novak Djokovic   home  2009-05-28 17:45:00         1       5.0
8545    14882  Novak Djokovic   away  2009-05-30 14:15:00        -1       4.0
861     14882  Novak Djokovic   home  2010-01-19 09:20:00         1       5.0
917     14882  Novak Djokovic   home  2010-01-21 00:00:00         1       6.0
943     14882  Novak Djokovic   home  2010-01-23 03:45:00         1       7.0
956     14882  Novak Djokovic   home  2010-01-25 03:10:00         1       8.0